.container {
  min-width: 1300px !important;
}

.App-header {
  display: flex;
  justify-content: space-between; /* Esto alinea el logo y los íconos a los extremos */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 20px; /* Puedes ajustar el espacio según sea necesario */
}

.title_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_img img {
  width: 250px; /* O el tamaño que desees para la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  align-self: flex-start;
}

.title_img h1 {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
  color: #b90c0c;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea los elementos de la derecha */
}

.social {
  display: flex;
  margin-right: 20px; /* Espacio entre los íconos de redes sociales y los teléfonos */
}

.social > * {
  margin-right: 10px;
}

.tels {
  text-align: right; /* Alinea el texto a la derecha */
  font-size: 14px; /* Puedes ajustar el tamaño de la fuente */
}

nav {
  margin: auto;
  display: flex;
  gap: 15px; /* Espacio entre los enlaces */
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #b90c0c;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover {
  color: #2ca9bc; /* Color de hover para los links */
}

.key {
  color: brown;
  cursor: pointer;
}

.login-icon {
  position: absolute; /* Coloca el ícono flotante */
  top: 20px;
  right: 20px; /* Totalmente a la derecha */
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre ícono y correo */
}

.logged {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logged svg {
  fill: #b90c0c;
  cursor: pointer;
}

.user-email {
  font-size: 14px;
  color: #b90c0c;
  font-weight: bold;
}

@media (max-width: 768px) {
  .App-header {
    flex-wrap: wrap; /* Encabezado adaptable para pantallas pequeñas */
  }

  .title_img,
  .right-content {
    width: 100%;
    text-align: center;
  }

  .login-icon {
    top: auto;
    bottom: 20px;
    right: 10px;
  }
}
